
html,body{
    padding:0;height:100%;
    background-image:url("/static/bg.png");
    background-repeat: no-repeat;
	background-size: 100% 100%;}
.container{ margin-left:20px;min-height:50%;height:auto !important;
    height:50%;/*ie6不识别min-height,如上述处理*/
    position:relative;}
.header{
    background:#6cf;padding:10px;width:50%;margin-bottom:20px;display:block;}
.page{
    width:960px;padding-bottom:20px;/*padding等于footer的高度*/}
.footer{
    position:relative;bottom:0;width:50%;height:70px;/*footer的高度*/background:#6cf;clear:both;
    text-align:center;}
.left{
    width:40%;height:600px;float:left;margin-right:20px;}
.content{
   width:40%;height:600px;float:left;margin-right:20px;}
.clearfix:after,
.clearfix:before{content:"";display:table}
.clearfix:after{clear:both;overflow:hidden}
.clearfix{zoom:1;}
.fl{display:block;}
.inline-ele{display:inline-block;margin-right:30px;}
 img {
    max-height: 600px;
}
