
html,body{
    padding:0;height:100%;
    background-image:url("/static/bg.png");
    background-repeat: repeat;
	background-size: 100% 100%;
	}
.container{ min-height:50%;height:auto !important;
    height:50%;/*ie6不识别min-height,如上述处理*/
    position:relative;
    margin-left: auto;
    margin-right: auto;}
.header{
    background:#6cf;padding-top:30px;width:59%;margin-bottom:20px;display:block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    }
.header2{
    width:100%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    }
.page{
    width:960px;padding-bottom:20px;/*padding等于footer的高度*/
    margin-left: auto;
    margin-right: auto;
    display:block;}
.footer{
    position:relative;bottom:0;width:60%;height:80px;/*footer的高度*/background:#6cf;clear:both;
    text-align:center;
    color:#FFF;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;}
.left{
    width:48%;
    min-height:150px;
    display:inline-block;
    border:thin solid blue}
.content{
    width:48%;
    min-height:150px;
    display:inline-block;
    border:thin solid blue}
.clearfix:after,
.clearfix:before{content:"";display:table}
.clearfix:after{clear:both;overflow:hidden}
.clearfix{zoom:1;}
.fl{display:block;margin-left: auto;
margin-right: auto;}
.inline-ele{
    display:inline-block;
    padding:2px 0;
    margin-top:10px;
    float:top;
    }
.fl2{display:block;margin-left: auto;
margin-right: auto;}
.inline-ele2{
    display:inline-block;
        margin-top:20px;
        float:bottom;
    }
 img {
    max-height: 600px;
}
img.logimg{
    max-height: 40px;
}
li {
    color:red;
}
input {
    color:white;
}