<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
		<meta content="always" name="referrer">
        <title>鞋钉检测</title>
        <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
        <script src="/static/jquery-1.11.3.js"></script>
        <script src="/static/myjs.js"></script>
    </head>

    <body>
        <div class="container">
            <!-- List of uploaded documents -->
       <!--      {% if documents %}
                    {% for document in documents %}
                        <img src="{{ document.docfile.url }}">
                    {% endfor %}
            {% else %}
                <p>No documents.</p>
            {% endif %} -->

            <!-- Upload form. Note enctype attribute! -->
            <div class="header">
                <form action="{% url "my-view" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
        <!--            {{ message }}-->

        <!--            <p>{{ form.non_field_errors }}</p>-->

        <!--            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>-->
                    <div class = "fl">
                        <div class="inline-ele"><p>
                            {{ form.docfile.errors }}
                            {{ form.docfile }} <!-- test -->
                        </p></div>
                        <div class="inline-ele"><p><input type="submit" value="上传"/></p></div>
                        <div class="inline-ele"><p><input type="button" value="解析"/></p></div>
                    </div>
                </form>
            </div>
            <div class="page clearfix">
                <div class="left">
                        <img src="media/documents/0.jpg?{{ random }}" >
                    </div>
                    <div class="content">
                        <img src="media/documents/0_d.jpg?{{ random }}" >
                    </div>
                </div>
            </div>

            <div class="footer">
            这有多少钉子：{{ count }}
            </div>
        </div>
    </body>
<!--    <body>-->
<!--        <div class="container">-->
<!--            <div class="header">这是头部</div>-->
<!--            <div class="page clearfix">-->
<!--                <div class="left">left sidebar</div>-->
<!--                <div class="content">main content</div>-->
<!--            </div>-->
<!--            <div class="footer">footer section</div>-->
<!--        </div>-->
<!--    </body>-->
</html>
