<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
		<meta content="always" name="referrer">
        <title>鞋钉检测</title>
        <link rel="stylesheet" type="text/css" href="../static/mystyle.css">
        <link rel="stylesheet" href="../static/bootstrap.min.css">
        <script src="../static/myjs.js"></script>
        <script src="../static/jquery.min.js"></script>
        <script src="../static/bootstrap.min.css.map"></script>
        <script src="../static/bootstrap.min.js"></script>
        <script type="text/javascript">
            function run2(){
                var imgId2 = document.getElementById("scan_img");
                imgId2.style.visibility ="visible";
                var result_bar = document.getElementById("result_bar");
                result_bar.style.visibility ="visible";
            }
        </script>

    </head>

    <body background="../static/bg.png">
        <div class="container">
            <!-- List of uploaded documents -->
       <!--      {% if documents %}
                    {% for document in documents %}
                        <img src="{{ document.docfile.url }}">
                    {% endfor %}
            {% else %}
                <p>No documents.</p>
            {% endif %} -->

            <!-- Upload form. Note enctype attribute! -->
            <div class="header2 thumbnail" style="background:rgba(102,204,255,0);border:none" >
                <div class = "fl2" style="background:rgba(102,204,255,0);" >
                    <div class="inline-ele2 " style="background:rgba(102,204,255,0);"><img class="logimg" src="../static/cmlogo.png"></div>
                    <div class="inline-ele2 " style="background:rgba(102,204,255,0);"><img class="logimg" src="../static/egdelogo.png"></div>
<!--                    <div class="inline-ele " style="background:rgba(102,204,255,0);"><img class="logimg" src="/static/hackathon.png"></div>-->
                    <div class="inline-ele2 " style="background:rgba(102,204,255,0);"><img class="logimg" src="../static/starlogo.png"></div>
                </div>
            </div>
            <div class="header thumbnail" style="background:rgba(102,204,255,0.2);">
                <form action="{% url "my-view" %}" method="post" enctype="multipart/form-data">
        <!--            {{ message }}-->

        <!--            <p>{{ form.non_field_errors }}</p>-->

        <!--            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>-->
                    <div class = "fl">
					<!-- 陈静娴新增 -->
						<button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#setting">
						  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</button>
					<!-- 配置按钮 -->
                        <div class="inline-ele "><p>
                         <label for="id_docfile" class=" btn btn-primary">
						 <input type="file" name="docfile" accept="image/*" required id="id_docfile">
                          </label>
                        </p></div>
                        <div class="inline-ele"><p><input class="btn btn-primary" type="submit" value="上传图像"></p></div>
                        <div class="inline-ele"><p><input class="btn btn-primary" type="button" value="解析图像" onclick="run2();" ></p></div>
                    </div>
                </form>

            </div>
            <div class="page clearfix">
                <div align="center" text-align="center">
                <div class="left">
                    {% if bg_img_flag %}
                        <img class="img-rounded img-responsive" src="media/documents/0.jpg?{{ random }}" >
                    {% endif %}
                </div>
                <div class="content">
                    {% if bg_img_flag %}
                        {% if null_count_flag %}
                         <img id = 'scan_img' class= "img-rounded img-responsive" style="visibility:hidden" src="media/documents/0.jpg?{{ random }}" >
                                    {% else %}
                         <img id = 'scan_img' class= "img-rounded img-responsive" style="visibility:hidden" src="media/documents/0_d.jpg?{{ random }}" >
                        {% endif %}
                    {% endif %}
                </div>
                </div>
            </div>
            <div class="footer thumbnail" style="background:rgba(102,204,255,0.2);" >
                <div  style="text-align:left;margin-left:20px;">
            解析结果：
                </div>
                <p id = 'result_bar' style="visibility:hidden;">
                    {{ message1 }}
<!--                </br>-->
                    {{ message2}}
                </p>
                </div>
            </div>
        </div>
		<!-- 陈静娴新增Modal -->
		<div class="modal fade" id="setting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">URL配置</h4>
			  </div>
			  <div class="modal-body">
				<div class="input-group">
				  <span class="input-group-addon" id="sizing-addon2">URL</span>
				  <input type="text" class="form-control" placeholder="链接地址" aria-describedby="sizing-addon2">
				</div>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary">确认</button>
			  </div>
			</div>
		  </div>
		</div>
		<!-- 新增URL配置输入框 -->
    </body>
<!--    <body>-->
<!--        <div class="container">-->
<!--            <div class="header">这是头部</div>-->
<!--            <div class="page clearfix">-->
<!--                <div class="left">left sidebar</div>-->
<!--                <div class="content">main content</div>-->
<!--            </div>-->
<!--            <div class="footer">footer section</div>-->
<!--        </div>-->
<!--    </body>-->
</html>
