<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
		<meta content="always" name="referrer">
        <title>鞋钉检测</title>
        <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <script src="/static/myjs.js"></script>
        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap.min.js"></script>
        <script type="text/javascript">
            function run2(){
                var imgId2 = document.getElementById("scan_img");
                imgId2.style.visibility ="visible";
                var result_bar = document.getElementById("result_bar");
                result_bar.style.visibility ="visible";
            }
        </script>

    </head>

    <body>
        <div class="container">
            <!-- List of uploaded documents -->
       <!--      {% if documents %}
                    {% for document in documents %}
                        <img src="{{ document.docfile.url }}">
                    {% endfor %}
            {% else %}
                <p>No documents.</p>
            {% endif %} -->

            <!-- Upload form. Note enctype attribute! -->
            <div class="header thumbnail" style="background:rgba(102,204,255,0.2);">
                <form action="{% url "my-view" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
        <!--            {{ message }}-->

        <!--            <p>{{ form.non_field_errors }}</p>-->

        <!--            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>-->
                    <div class = "fl">
                        <div class="inline-ele "><p>
                         {{ form.docfile.errors }}
                         <label for="id_docfile" class=" btn btn-primary">
                            {{ form.docfile }} <!-- test -->
                          </label>
                        </p></div>
                        <div class="inline-ele"><p><input class="btn btn-primary" type="submit" value="上传图像"></p></div>
                        <div class="inline-ele"><p><input class="btn btn-primary" type="button" value="解析图像" onclick="run2();" ></p></div>
                    </div>
                </form>

            </div>
            <div class="page clearfix">
                <div align="center" text-align="center">
                <div class="left">
                    {% if bg_img_flag %}
                        <img class="img-rounded img-responsive" src="media/documents/0.jpg?{{ random }}" >
                    {% endif %}
                </div>
                <div class="content">
                    {% if bg_img_flag %}
                        {% if null_count_flag %}
                         <img id = 'scan_img' class= "img-rounded img-responsive" style="visibility:hidden" src="media/documents/0.jpg?{{ random }}" >
                                    {% else %}
                         <img id = 'scan_img' class= "img-rounded img-responsive" style="visibility:hidden" src="media/documents/0_d.jpg?{{ random }}" >
                        {% endif %}
                    {% endif %}
                </div>
                </div>
            </div>
            <div class="footer thumbnail" style="background:rgba(102,204,255,0.2);" >
                <div  style="text-align:left;margin-left:20px;">
            解析结果：
                </div>
                <p id = 'result_bar' style="visibility:hidden;">
                    {{ message1 }}
<!--                </br>-->
                    {{ message2}}
                </p>
                </div>
            </div>
        </div>
    </body>
<!--    <body>-->
<!--        <div class="container">-->
<!--            <div class="header">这是头部</div>-->
<!--            <div class="page clearfix">-->
<!--                <div class="left">left sidebar</div>-->
<!--                <div class="content">main content</div>-->
<!--            </div>-->
<!--            <div class="footer">footer section</div>-->
<!--        </div>-->
<!--    </body>-->
</html>
